div( layout="vertical")
  md-button(class="md-default" ui-sref="bundles")  Browse Bundles
  md-button(class="md-default" ui-sref="quizzing") Start Quiz
  md-button(class="md-default" ui-sref="quizzing") Fuck Goats

