div(layout="vertical" md-theme="indigo")
  md-subheader(md-theme="red" layout-align="center center" class="md-toolbar-tools topics") 
    h2 Explore
  md-list(class="topics")
      md-item
        md-card  
          md-button(class="" ui-sref="topics" layout layout-align="center center")  
            h3 Topics


div(layout="vertical" md-theme="indigo")
  md-subheader(layout-align="center center" class="md-toolbar-tools topics") 
    h2 Queued
  md-list(class="topics")
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 Ruby On Rails lvl. 3
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 Node.js lvl. 2
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 CSS lvl. 7

div(layout="vertical" md-theme="indigo")
  md-subheader(md-theme="red" layout-align="center center" class="md-toolbar-tools topics") 
    h2  New
  md-list(class="topics")
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 Rspec
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 Ruby Gems
      md-item
        md-card  
          md-button(class="" ui-sref="bundles" layout layout-align="center center")  
            h3 HTML5


