div(layout-padding )
  br
  md-button(class="md-whiteframe-z1" ui-sref="bundles" layout layout-align="center center")  
    h1 Browse Topics
  br
  br
  md-button(class="md-whiteframe-z1" ui-sref="quizzing" layout layout-align="center center") 
    h1 Start Quiz
  br
  br
  md-button(class="md-whiteframe-z1" ui-sref="quizzing" layout layout-align="center center") 
    h1 My Profile
  br

