div(class="topics")
  div(ng-repeat="bundle in bundles")
    md-card
      md-button(ng-click="setBundleId(bundle)" ui-sref="quizzing" layout="horizontal")
        md-item-content(layout-align="space-between" layout="horizontal")
          //- div
          //-   img(ng-src="assets/{{bundle.topic_id}}.png" style="width: 50px;")
          div
            h2 {{bundle.name}}
          div
            h3 Level: 
              span.difficulty{{bundle.difficulty}}



