div(ng-controller="TopicsListController as topics" layout="vertical") 
  md-list
    md-item(ng-repeat="topic in topics.list")
      md-card  
        md-item-content
          .md-tile-content
            md-button(class="" ui-sref="topics.list({topicID: {{topic.id}} })" layout layout-align="center center")  
              h3 {{topic.name}}
            div(ui-view="content{{topic.id}}")